{% extends "layout.html" %}

{% block title %}
    My 3Depot -- test
{% endblock %}

{% block main %}
<div class="center-container">
    <h1 class="centered-paragraph">.</h1>
    <h2 class="centered-paragraph">Welcome to 3Depot</h2>
    <div id="model-container"></div>

    <p class="centered-paragraph">
        A platform to upload 3D models
    </p>

    <img src="static/thumbnail_sphere.jpg" alt="img" class="sphere" >

        <button class="btn btn-light"><a href="/register" class="btn btn-light">Register</a></button>
    </form>
</div>
{% endblock %}
