{% extends "layout.html" %}

{% block title %}
    My 3Depot - Upload
{% endblock %}

{% block content %}
{% if message %}
    <p>{{ message }}</p>
{% endif %}
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="modelFile">Select 3D model to upload:</label>
        <input type="file" name="modelFile" id="modelFile" required><br><br>
        <label for="newFileName">Enter new file name:</label>
        <input type="text" name="newFileName" id="newFileName" required><br><br>
        <input type="submit" value="Upload Model">
    </form>
{% endblock %}